@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", serif;
}

.cinzel {
  font-family: "Cinzel", serif;
}

.neue {
  font-family: "Bebas Neue", serif;
}


.activeNav a.active {
    color: #FF3811;
    text-decoration: underline;
}

.dark1 {
  color: #151515;
}

.dark2 {
  color: #323232;
}

.dark3 {
  color: #424242;
}

.orange {
    color: #FF3811;
}

.red {
  background-color: red;
}

.green {
    background-color: green;
}
.blue {
    background-color: blue;
}
.yellow {
    background-color: orange;
}
.purple {
    background-color: purple;
}





/* card Styles */
.myCard {
    background-color: white;
    margin-bottom: 24px;
    overflow: hidden;
  }
  
  .cardImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }
  
  .cardImage:hover {
    transform: scale(1.03);
  }
  
  .badgeContainer {
    display: flex;
    justify-content: flex-end;
    position: relative;
  }
  
  .myCardBody {
    padding: 25px;
  }
  
  .myCardTitle {
    font-size: 24px;
    font-weight: 700;
    color: #151515;
  }
  
  .description {
    color: #424242;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 4px;
  }
  
  .cardActions {
    margin-top: 12px;
  }
  
  .detailsButton {
    border: 2px solid #aaaaaa;
    padding: 8px 16px;
    width: 100%;
    border-radius: 750px;
    font-size: 12px;
    font-weight: 600;
    background-color: transparent;
    color: #323232;
  }
  
  .detailsButton:hover {
    border-color: #FF3811;
  }
  
